<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body class="is-loading">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
				<section id="main">
					<header>
						<span class="avatar"><img style="width: 122px" src="images/tabano.png" alt="" /></span>
						<h1>Beso de Tabano</h1>
						<p>Website being brewed</p>
					</header>
					<footer>
						<ul class="icons">
							<li><a href="https://twitter.com/besodetabano" class="fa-twitter">Twitter</a></li>
							<li><a href="https://www.instagram.com/brewbokeh/" class="fa-instagram">Instagram</a></li>
							<li><a href="https://www.facebook.com/besodetabano" class="fa-facebook">Facebook</a></li>
						</ul>
					</footer>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy;</li><li>By Beso de Tabano</li>
					</ul>
				</footer>

		</div>

	<!-- Scripts -->
		<!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
		<script>
			if ('addEventListener' in window) {
				window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
				document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
			}
		</script>

	</body>
</html>
